.headerBar {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 90px;
	padding-top: 21px;
	transition: backdrop-filter 100ms, background 100ms;

	position: absolute;
	top: 39px; /*This space will be gone when parent becomes "stuck"*/
}
.headerBarContainer {
	position: sticky;
	top: -40px; /* Will get stuck once this much above view */
	z-index: 10;
}
.headerBar.isStuck {
	transition: backdrop-filter 500ms, background 500ms;
	backdrop-filter: blur(10px);
	background: #17171760;
}
.logo {
	margin: 0;
	margin-top: 5px;
	width: 190px;
	display: block;
	height: auto;
}
.link {
	font-size: 14px;
}
