.headerBar {
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 10;
	width: 100%;
	padding: 60px 90px;
}
.logo {
	margin: 0;
	width: 190px;
	display: block;
	height: min-content;
}
.link {
	font-size: 14px;
}
