.showDetails {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "poster title" "poster tags" "poster stats";
}
.poster {
	grid-area: poster;
	margin-right: 20px;
}
.title {
	grid-area: title;
	font-weight: bold;
	font-size: 20px;
	margin-top: 0;
}
.tags {
	grid-area: tags;
	font-size: 14px;
}
.stats {
	grid-area: stats;
}
.detailsRow {
	display: flex;
	align-items: center;
	margin-top: 5px;
	font-size: 13px;
	font-weight: bold;
}
.detailsRow > svg {
	width: 24px;
	height: 24px;
	margin-right: 7px;
}
.calendarIcon {
	fill: var(--signature-blue);
}
.starIcon {
	fill: var(--signature-gold);
}

.detailsRow span {
	white-space: pre;
}
.ratingOutOfSpan {
	font-size: 10px;
	font-weight: normal;
}

.ratingContainer {
	display: flex;
	align-items: baseline;
}
