.topBanner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 260px;
  position: relative;
  z-index: 1;
}
.topBannerContent {
  display: grid;
  grid-template-columns: 400px max-content;
  grid-template-rows: 1fr auto;
  grid-template-areas: "title poster" "search poster";
}
.title {
  grid-area: title;
  margin-bottom: 20px;
}
.title > h1 {
  margin: 0;
}
.bannerPosters {
  grid-area: poster;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 60px;
}
.bannerPosters .poster:not(:first-child) {
  margin-left: -60px;
}
.bannerPosters .poster {
  --angle: 0deg;
  /* Make rotate anchor bottom-right */
  transform-origin: 50% 100%;
  transform: rotate(var(--angle));
  transition: transform 200ms;
  display: inline-block;
}
.bannerPosters .poster > img {
  box-shadow: 0 0 5px 0 #000a;
  transition: box-shadow 200ms;
}
.bannerPosters .poster:hover {
  transform: scale(1.15) rotate(var(--angle));
}
.bannerPosters .poster:hover > img {
  box-shadow: 0 0 10px 0 black;
}
/* .bannerPosters:hover .poster:not(:hover) {
	opacity: 70%;
} */
.searchBox {
  grid-area: search;
}
.mainContent {
  position: relative;
  z-index: 1;
  margin: 20px 220px 0 250px;
  margin-bottom: 200px;
}

.chevronIcon {
  stroke: var(--signature-offwhite);
  height: 1.2ex;
  margin-left: 5px;
  margin-top: 1px;
}
.searchResultsContainer {
  position: relative;
  z-index: 1;
  height: 160px;
  margin: 90px 220px 0 250px;
  transition: height 200ms ease-in-out, opacity 200ms ease-in-out;
  opacity: 0;
}
.searchResultsContainer:not(:empty) {
  height: 180px;
  opacity: 1;
  overflow: hidden;
}
.searchResultsContainer.someResults {
  height: 280px;
}
.searchResults {
  animation: 500ms fadeIn ease-in-out;
}
.searchResultsContainer .exceptionBox {
  animation: 200ms fadeIn ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchResultsContainer .loadingBox {
  opacity: 80%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
