.loadingSVG {
	width: 40px;
}
.loadingSVG circle {
	animation: bob 900ms ease-in-out infinite;
	fill: white;
}
.loadingSVG circle:nth-child(2) {
	animation-delay: 0.2s;
}
.loadingSVG circle:nth-child(3) {
	animation-delay: 0.4s;
}
@keyframes bob {
	10%,
	90% {
		fill: white;
	}
	50% {
		/* transform: translateY(-30%); */
		fill: grey;
	}
}
