.searchCarousel {
	overflow: scroll;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;

	scroll-snap-type: x proximity;
	/* Horizontal scroll snapping is buggy in Firefox DE */

	/* Avoids scrollbars */
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/*Avoids scrollbars some more*/
.searchCarousel::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0;
	height: 0;
}

.show {
	margin-right: 25px;
	width: min-content;
	scroll-snap-align: start;
}
.showName,
.showYear {
	margin-top: 5px;
	width: 100%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.topResultShow .showName {
	font-size: 14px;
	font-weight: bold;
}
.shows {
	display: flex;
	align-items: flex-end;
}
.showDetails {
	font-size: 10px;
	height: 15ex;
	overflow: hidden;
	display: grid;
	grid-template-rows: auto minmax(min-content, 1fr);
}
