.searchCarousel {
	overflow: scroll;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;

	scroll-snap-type: x proximity;
	/* Horizontal scroll snapping is buggy in Firefox DE */

	/* Avoids scrollbars */
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/*Avoids scrollbars some more*/
.searchCarousel::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0;
	height: 0;
}

.show {
	margin-right: 25px;
	width: min-content;
	scroll-snap-align: start;
}
.showName,
.showYear {
	font-size: 10px;
	margin-top: 5px;
	width: 100%;
	max-height: 5.5ex;
	overflow: hidden;
}
.topResultShow .showName {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}
.restOfShows {
	display: flex;
}
