@import "tailwindcss";

/* @media (prefers-color-scheme: light) {
  :root {
	--strong-background: #ffffff;
	--weak-background: #f1f1f1;
	--weak-foreground: #e6e6e6;
	--strong-foreground: #d9d9d9;
	--signature-offwhite: #131312;
  }
} */

@theme {
	--animate-fadeIn: fadeIn 0.5s ease-in forwards;

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

}

:root {
  --strong-background: black;
  --weak-background: #171717;
  --weak-foreground: #212121;
  --strong-foreground: #393939;
  --signature-offwhite: #f1ead7;

	--signature-gold: #fcbf49;
	--signature-green: #7dbc46;
	--signature-red: #c55858;
	--signature-blue: #0974c3;

	--checkmark-color: var(--signature-green);
	--cross-color: var(--signature-red);
	--maybe-color: var(--signature-blue);
	--unknown-color: var(--signature-offwhite);
}

html,body {
  background: var(--strong-background);
  color: var(--signature-offwhite);
	font-family: var(--font-rubik), BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
	padding: 0;
	margin: 0;
}

.loading-svg circle {
	animation: circle-loading-pulse 900ms ease-in-out infinite;
	fill: white;
}
.loading-svg circle:nth-child(2) {
	animation-delay: 0.2s;
}
.loading-svg circle:nth-child(3) {
	animation-delay: 0.4s;
}
@keyframes circle-loading-pulse {
	10%,
	90% { fill: white; }
	50% { fill: grey; }
}