.searchContainer {
	border-radius: 3px;
	width: 200px;
	/* transition: width 0.2s ease-in-out; */
	display: flex;
	flex-direction: column;
}
.searchContainer.focusedState {
	width: 380px;
}
.homeVersion.searchContainer {
	width: 300px;
}
.boxContainer {
	position: absolute;
	width: 100%;
	background: var(--weak-foreground);
	max-height: 400px;
	overflow: scroll;
	z-index: 11;
}
.homeVersion .boxContainer {
	max-height: 300px;
}
.boxContainerContainer {
	position: relative;
}

.exceptionBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	text-align: center;
	font-size: medium;
}
.exceptionBox.loadingBox {
	font-size: xx-large;
}
.backgroundBlock {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* background: rgba(0,0,0,0.2); */
	/* background: transparent; */
	height: 100vh;
	width: 100vw;
	z-index: 10;
}
