.resultDiv {
	display: flex;
	padding: 12px 35px;
	height: 90px;
	box-sizing: border-box;
}
.resultDiv.topResult {
	height: 180px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.resultInfoDiv {
	display: flex;
	flex-direction: column;
	margin: 5px 0px;
}
.resultDiv.odd {
	background: #00000025;
}
.poster {
	margin-right: 15px;
	width: auto;
	height: 100%;
}
.title {
	font-size: 16px;
	margin: 0;
}
.year {
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	margin-top: 5px;
}
.description {
	font-size:  11px;
	overflow: hidden;
	margin: 0;
	margin-top: auto;
	display: -webkit-box;
	-webkit-line-clamp: 4; /*always 3 lines. not very responsive*/
	-webkit-box-orient: vertical;
}