.headerBar {
	font-size: 20px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.siteName {
	font-size: inherit;
}
.searchBar {
	width: 180px;
	height: 1em;
	background: var(--primary-text);
	border-radius: 3px;
}