.topBanner {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 160px;
}
.backingImage {
	object-fit: cover;
	object-position: center bottom;
	filter: brightness(50%);
	position: absolute;
	z-index: 0;
}
.contentHolder {
	position: absolute;
	z-index: 1;
	width: 100%;
	top: 0;
	left: 0;
}
.topBannerContent {
	z-index: 2;
	display: grid;
	grid-template-columns: 400px max-content;
	grid-template-rows: 1fr auto;
	grid-template-areas: "title poster" "search poster";
}
.title {
	grid-area: title;
	margin-bottom: 20px;
}
.title > h1 {
	margin: 0;
}
.bannerPosters {
	grid-area: poster;
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: 60px;
}
.bannerPosters .poster:not(:first-child) {
	margin-left: -60px;
}
.bannerPosters .poster {
	--angle: 0deg;
	/* Make rotate anchor bottom-right */
	transform-origin: 50% 100%;
	transform: rotate(var(--angle));
	transition: transform 0.1s;
	display: inline-block;
}
.bannerPosters .poster > img {
	box-shadow: 0 0 5px 0 #000a;
}
.bannerPosters .poster:hover {
	transform: scale(1.15) rotate(var(--angle));
}
.bannerPosters .poster:hover > img {
	box-shadow: 0 0 10px 0 black;
}
/* .bannerPosters:hover .poster:not(:hover) {
	opacity: 70%;
} */
.searchBox {
	grid-area: search;
}
.mainContent {
	margin: 250px 220px 0 250px;
}
.sectionTitle {
	font-size: 16px;
	margin-bottom: 24px;
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.chevronIcon {
	stroke: var(--signature-offwhite);
	height: 1.2ex;
	margin-left: 5px;
	margin-top: 1px;
}
